/*Website background-color*/
.Bcolor{
    background-color: #242424;
    
}

/*image line*/



/*Text-color*/
.text{
  color:#f1f1f1;
  text-align: center;  
}

/*Pictures*/

div.gallery {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 20px rgb(254, 255, 255)
}

div.gallery:hover {
  border: 1px solid #e0e0e0;
  box-shadow: 5px 5px 20px rgb(254, 255, 255)
}

div.gallery img {
  width: 345px;
  height: 15cm;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: #f1f1f1;
  
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 16px;
  float: left;
  width: 24.99999%;
  margin:60px;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6%;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.img{
  width: 10%;
}

.img2{
  width: 10%;
}

.img{
  width: 10%;
}