body{
    background-color:rgb(220, 206, 163);
    background-image:radial-gradient(#fff);
}

h1{
    border:2px solid black;
    border-radius:12px 12px 12px 12px 5px;
}

#pl{
    box-shadow:10px 10px 10px rgb(62, 61, 61)
}

h2{
    background-color:rgb(110, 128, 125);
    opacity:0.6;
}

